<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/logo.png" style="border-radius: 50%" />
    <title>កីឡា</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Koulen&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container1">
      <div class="header1">
        <img src="../img/logo.png" alt="" />
      </div>
    </div>
    <div class="container2">
      <div class="header2">
        <ul>
          <li>
            <a href="../index.html"
              ><i class="fa fa-home" aria-hidden="true"></i
            ></a>
          </li>
          <li><a href="./entertainment.html">កម្សាន្ដ</a></li>
          <li><a href="./technology.html">បច្ចេកវិទ្យា</a></li>
          <li><a href="./lifeandsociety.html">ជីវិតនិងសង្គម</a></li>
          <li><a href="#">កីឡា</a></li>
        </ul>
      </div>
    </div>
    <div class="container6">
      <div class="row1">
        <div class="header-row1">
          <div class="box-header-row1">
            <h3>កីឡា</h3>
          </div>
        </div>
        <div class="box-body-row1">
          <div class="slide-header">
            <div class="slide-header-box">
              <div class="box-img-slide"></div>
              <div class="box-title-slide">
                <p>
                  ពានរង្វាន់គ្លីនិកកែសម្ផស្សនិងកែដងខ្លួនឆ្នើមប្រចាំឆ្នាំ 2024
                  ក្នុងប្រទេសកម្ពុជា
                </p>
              </div>
            </div>
            <div class="slide-header-box">
              <div class="box-img-slide"></div>
              <div class="box-title-slide">
                <p>
                  ពានរង្វាន់គ្លីនិកកែសម្ផស្សនិងកែដងខ្លួនឆ្នើមប្រចាំឆ្នាំ 2024
                  ក្នុងប្រទេសកម្ពុជា
                </p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
          <div class="aside-body">
            <div class="aside-body1"></div>
            <div class="aside-body2">
              <div class="aside-body2-box">
                <p>
                  កុំឲ្យស្ត្រេសពេក! មកមើលរូបភាពកំប្លែងរបស់ Idol
                  នៅព្រលានយន្តហោះកន្លងមក
                </p>
                <span>ម្សិលមិញ ម៉ោង 16:16</span>
              </div>
              <div class="aside-body2-box">
                <p>លើលោកនេះមានរឿងប្លែកៗកើតឡើងច្រើនពេកហើយ!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row2-box1">
          <div class="row2-box1-header">
            <h3>អត្ថបទពេញនិយម</h3>
          </div>
          <div class="row2-box1-border"></div>
          <div class="row2-box1-body">
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row2-box1">
          <div class="row2-box1-header">
            <h3>អត្ថបទពេញថ្មី</h3>
          </div>
          <div class="row2-box1-border"></div>
          <div class="row2-box1-body">
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
            <div class="row2-box1-body1">
              <div class="row2-box1-body2"></div>
              <div class="row2-box1-body2">
                <p>
                  តារាខ្មែរល្បីៗប៉ុន្មានរូបនេះ
                  នាំយករថយន្តស៊េរីទំនើបចូលរួមព្រឹត្តិការណ៍ GUMBALL 3000
                  នៅកម្ពុជា
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row-footer">
        <div class="box-row-footer">
          <div class="box-logo-footer1">
            <img src="../img/footer-logo.png" alt="" />
          </div>
          <div class="box-title-footer1">
            <p>
              ​© រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤ <br />
              គោលការណ៍​ភាព​ឯកជន | Privacy Policy <br /><br /><b>អាសយដ្ឋាន</b>
              <br />អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស<br />
              សង្កាត់បឹងរាំងខណ្ឌដូនពេញ
            </p>
          </div>
        </div>
        <div class="box-row-footer">
          <div class="box-header-footer2">
            <h3>អំពីយើង</h3>
          </div>
          <div class="box-title-footer2">
            <p>
              <b>Sabay Digital Corporation</b> ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល
              និង​កម្សាន្ត​ឈាន​មុខ​គ <br />
              នៅ​កម្ពុជា។ ព័ត៌មាន​បន្ថែម <br />
              <b>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</b>
            </p>
          </div>
          <div class="box-icon-footer2">
            <div class="row-icon-footer2">
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
              <div class="body-box-icon-footer2">
                <img src="../img/logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="box-row-footer">
          <div class="row-header-footer3">
            <h3>ជួបគ្នានៅបណ្ដាញសង្គម</h3>
          </div>
          <div class="box-icon-footer3">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-telegram"></i>
          </div>
          <div class="box-title-footer3">
            <p>
              <b>ទំនាក់ទំនង</b><br />
              info@sabay.com <br />
              023 228 000
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
